# data folder
raw_data/
data/
dataset.csv

# notebook with experiments
Experiments*.ipynb
.ipynb_checkpoints/

# pycache
**/__pycache__/


# configs
configs/*.txt
!configs/sample_config_train.txt

# tensorboard log dir
/tb

# model weights
*.pth

# local .py files
train_local.py

# google supplementary files
*.gsheet
